# ==============================================================================
# ЗАВИСИМОСТИ ИНСТРУМЕНТА АНАЛИЗА БЕЗОПАСНОСТИ VPS SOC
# ==============================================================================
#

flake8>=6.0.0
mypy>=1.0.0
